

body{
  font-family: Arial;
  background:#f5f5f5;
  display:flex;
  justify-content:center;
  align-items:center;
  height:100vh;
}

.form-box{
  background:white;
  padding:30px;
  border-radius:10px;
  width:350px;
  box-shadow:0 4px 10px rgba(0,0,0,0.1);
}

.form-box h2{
  text-align:center;
}

input, select{
  width:100%;
  padding:10px;
  margin:10px 0;
  border:1px solid #ccc;
  border-radius:5px;
}

button{
  width:100%;
  padding:10px;
  background:#FFC107;
  border:none;
  border-radius:5px;
  font-weight:bold;
  cursor:pointer;
}

button:hover{
  background:#ffb300;
}

.link{
  text-align:center;
  margin-top:10px;
  font-size:14px;
}

