/* Общие стили */
body {
  margin: 0 auto;
  background-color: #fff;
  font-family: 'Inter', sans-serif;
  padding: 0 20px;
}

.header {
  padding: 20px;
  border-bottom: 1px solid black;
}

.header_container {
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}
.container{
  max-width: 1200px;
  margin: 0 auto;
}
/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 72px;
  padding: 0 20px;
  border-bottom: 1px solid #ddd;
}

.logo {
  font-weight: 600;
  font-size: 20px;
}

.logo .yellow {
  color: #f9d71c;
  font-weight: 700;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
  align-items: center;
  margin: 0;
  padding: 0;
}

.nav-links li a {
  text-decoration: none;
  color: #444;
  font-size: 14px;
}

/* Main content */
.main-content {
  max-width: 1200px;
  margin: 0 auto;
}

.text_content {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.text-block {
  display: flex;
  justify-content: space-between;
}

.text-block h1 {
  font-size: 72px;
  margin-bottom: 20px;
}

.buttons {
  display: flex;
  gap: 25px;
  margin-bottom: 15px;
}

.buttons button {
  padding: 15px 30px;
  border: none;
  background-color: #f9d71c;
  color: #000;
  cursor: pointer;
  border-radius: 6px;
  font-size: 16px;
  font-weight: 600;
}

.delivery-info {
  font-size: 14px;
  color: #666;
}

/* Фото справа */
.image-block img {
  width: 100%;
}

/* Адаптивность для мобильных */
@media (max-width: 768px) {

  .main-content {
    flex-direction: column;
    padding: 20px;
  }

  .text-block,
  .image-block {
    max-width: 100%;
    width: 100%;
  }

  .image-block img {
    max-width: 300px;
    margin: 20px auto 0 auto;
    display: block;
  }

  .text-block h1 {
    font-size: 28px;
  }
}

.info-section {
  display: flex;
  justify-content: space-between;
  background: #f7f7f7;
  padding: 25px 40px;
  margin-top: 40px;
  border-radius: 10px;
}

.services {
  width: 60%;
  margin-left: 0px;
}

.services img {
  width: 40px;
}

.info-box {
  display: flex;
  align-items: center;
  gap: 15px;
  font-size: 14px;
  color: #555;
}
.restaurants-grid {
  display: flex;
  gap: 10px;
 
}
.restaurants{
  padding-top: 70px;

  
}
.restaurant-card img{
 width: 290px;
}
.restaurants-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.restaurant_btn{
height: 30px;
width: 80px;
border: none;
}
.features{
  display: flex;
  gap: 30px;
  width: 60%;
  padding: 0 10px;
  box-shadow: 0 5px 10px rgba(107, 104, 104, 0.3);
}
.feature{
  display: flex;
  align-items: center;
  gap: 10px;
  width: 30%;
}
.feature img{
  width: 40px;
}
.feature p{
  opacity: 0.7;
}
/* SEARCH BLOCK */

.search-block{
display: flex;
background:#fdeded;
justify-content: center;
align-items: center;
gap: 40px;
}

.search-block h1{
padding-bottom: 5px;
padding-left: 0px;
padding-right: 45px;
padding-top: 15px;
}
.search-block p{
margin-bottom: 40px;
color:#666
}
.search-box{
margin-top:30px;
}

.search-box input{
padding:12px;
width:300px;
border:none;
border-radius:5px;
}

.search-box button{
padding:12px 20px;
background:#FFD43B;
border:none;
border-radius:5px;
cursor:pointer;
}
/* CATEGORIES */

.categories{
padding:40px;
background:white;
}

.title{
display:flex;
justify-content:space-between;
align-items:center;
}

.category-list{
display:flex;
gap: 1px;
margin-top:10px;
flex-wrap:wrap;
}

.category{
width: 100px;  
padding:10px 15px;
background:#ffffff;
border-radius:10px;
display: flex;
flex-direction: column;
align-items: center;
gap: 7px;
}
.category__img{
  width: 50px;
}
/* STATS */
.category span{
  opacity: 0.7;
}
.stat{
  padding-top: 20px;
}


/* Блок с текстом и маленькими картинками */
.instagram-section {
  text-align: left;
}

.instagram-section h2 {
  font-size: 24px;
  margin-bottom: 15px;
  color: #333;
}

.instagram-images {
  display: flex;
  gap: 15px;
}

.instagram-images img {
  width: 100%;
  max-width: 300px;
  border-radius: 10px;
  object-fit: cover;
}

/* Адаптив для мобильных */
@media (max-width: 768px) {
  .instagram-images {
    flex-direction: column;
    align-items: center;
  }

  .instagram-images img {
    max-width: 90%;
  }
}
.footer{
    background:#4a4f63;
    color:white;
    padding-top: 60px;
    margin-top: 40px;
}

.footer-container{
    width:1200px;
    margin:auto;
    display:flex;
    justify-content:space-between;
}

.footer-col{
    width:22%;
}

.logo{
    font-size:22px;
    margin-bottom:20px;
}

.logo span{
    color:#f2c94c;
}

.footer-col h3{
  margin-left: 150px;
  margin-bottom:15px;
  font-size:18px;
}

.footer-col ul{
  margin-left: 150px;
    list-style:none;
    padding:0;
}

.footer-col ul li{

    margin-bottom:10px;
    color:#cfcfcf;
    font-size:14px;
}


.stores{
  display: flex;
  gap: 15px;
  padding-top: 25px;
}

.socials{
    margin-top:20px;
}

.socials i{
    margin-right:15px;
    font-size:18px;
}

.footer-bottom{
    width:1200px;
    margin:40px auto 0;
    display:flex;
    justify-content:flex-end;
    gap:30px;
    font-size:13px;
    color:#cfcfcf;
}